* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}

body #content > div *.create-hotspot {
    background: #A4BCEA!important;
    border: 1px solid red!important;
}

ul, li {
    list-style: none;
}

a, button, input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

.container {
    width: 860px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.navbar-content {
    display: block;
    padding: 30px 0;
    border-bottom: 2px solid #eee;
}

.navbar-logo {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.navbar-link {
    width: 75%;
    font-size: 0;
    padding: 0 40px;
    display: inline-block;
    vertical-align: middle;
}

.navbar-link li {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.navbar-link li a {
    color: #999;
    display: block;
    font-size: 20px;
}

.navbar-link li a:hover {
    color: #666666;
}

.btn {
    outline: 0;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 25px;
    pointer-events: all;
    display: inline-block;
    background-color: #333;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.btn:hover {
    outline: 0;
    opacity: .6;
}

.btn.btn-hotspot, body #content .btn.btn-hotspot.create-hotspot {
    margin: 45px 0;
    border: none!important;
    background-color: #00C2CA!important;
}

.hotspot {
    text-align: center;
    padding-bottom: 45px;
}

.hotspot-list {
    width: 360px;
    margin: 0 auto;
    text-align: left;
}

.hotspot-list .hotspot-list-label {
    display: block;
    padding: 6px 5px;
    background-color: #eee;
}

.hotspot-list .hotspot-list-label p {
    color: #999;
    font-size: 18px;
}

.hotspot-list ul li {
    color: #999;
    font-size: 18px;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}

.hotspot-list ul li:last-child {
    border-bottom: none;
}

.hotspot-list ul li p {
    width: 85%;
    display: inline-block;
}

.hotspot-list ul li a {
    color: #5D73E5;
    font-size: 15px;
    text-decoration: underline;
}

.user-hotspot {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background: #e85353;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
    -webkit-animation: zoom-in-out .8s linear 0s infinite normal ;
    animation: zoom-in-out .8s linear 0s infinite normal ;
}

@-webkit-keyframes zoom-in-out {
    0%{
        -ms-transform: scale(.8);
        transform: scale(.8);
    }
    50%{
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -ms-transform: scale(.8);
        transform: scale(.8);
    }
}

@keyframes zoom-in-out {
    0%{
        -ms-transform: scale(.8);
        transform: scale(.8);
    }
    50%{
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -ms-transform: scale(.8);
        transform: scale(.8);
    }
}

.user-hotspot:hover {
    cursor: pointer;
    -webkit-animation: none;
    animation: none;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
}

.user-hotspot .tooltip {
    left: 50%;
    top: 150%;
    width: 130px;
    display: none;
    font-size: 12px;
    padding: 5px 15px;
    position: absolute;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.user-hotspot:hover .tooltip {
    display: block;   
}

.user-hotspot .tooltip:before {
    width: 0; 
    height: 0; 
    left: 50%;
    content: "";
    bottom: 100%;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

body.create-mode .App-todo-list a {
    pointer-events: none;
}